# macOS system files

.DS_Store
Windows_and_Linux/config.json

.idea
**/__pycache__
**/*.mo
**/pot_files

# Xcode user-specific data
**/xcuserdata/
**/project.xcworkspace/xcuserdata/
Windows_and_Linux/dist/WritingTools2.zip
